#main{
	height:600px;
}
#addArea{
	display:none;
}
#hidden{
	display:none;
}
#centerDiv{
	padding-left:0px;
	padding-right:0px;
}
#footPage{
	width:100%;
	height:50px;
	background:gray;
	position:static;
	bottom:0px;
}