/*
.container{
	margin:0 auto;
	width:1024px;
	//background:gray;
}
*/
.miniFont{
	font-size:13px;
	color:rgb(102,102,102);
	line-height:18.5px;
}
.header-logo{
	float:left;
	margin:15px 15px 15px 0px;
}
.header-logo>img{
	height:64px;
}
.header-text{
	margin:15px 15px 15px 0px;
}
.header-text>h5{
	font-size:14px;
}
ul{
	list-style-type: none;
}
.clearMarPad{
	margin:0px;
	padding:0px;
}
.floatToBlock{
	display:block;	
}
.listContent p{
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 24px;
	text-indent:2em;
}
.listContent h3{
	margin:10px 0px;
	font-size:18px;
	line-height:34px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.listContent h3>a{
	text-decoration: none;
}
/*加上下面两个样式实现导航hover的功能*/
.navbar .nav > li .dropdown-menu {
	margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
	display: block;
}
/*article详细页面*/
.articleTitle{
}
.articleOther{
	font-size:12px;
	font-weight:400;
	color:rgb(153,153,153);
	line-height:24px;
	border-bottom:1px solid  #eee;
	margin-bottom:10px;
}
/*第三方登录*/
.weibo{
	background-image: url(/junxun/image/weibo_32x32.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:32px;
	height:32px;
	margin:5px;
	vertical-align:middle;
}
.qq{
	background-image: url(/junxun/image/qq_32x32.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:32px;
	height:32px;
	margin:5px;
	vertical-align:middle;
}
.thirdPart{
	margin-top:10px;
	padding-top:10px;
	border-top: 0px solid #eee;
	font-size:13px;
	color:rgb(102,102,102);
	line-height:18.5px;
}
/*登录页面*/
.showDiv{
	display:block;
}
.hideDiv{
	display:none;
}
/*让alert提示的padding小一点*/
.alertDivThin{
	margin-top:2px;
	padding:5px;
}